#
# Разрешение кеширования в этой  папке
# Необходимо включение модулей
# mod_headers.c и mod_expires.c
#
# Заголовок Cache-Control
#<IfModule mod_headers.c>
#Header  append Cache-Control "public"
#</IfModule>
# Заголовок Expires
#<IfModule mod_expires.c>
#ExpiresActive  On
#ExpiresDefault  "access plus 1 hours"
#</IfModule>