<?xml version="1.0" encoding="utf-8"?>
<config><enabled>0</enabled><code>&lt;div class="reclame-code reclame-center reclame-rounded" style="width:350px; height:100px; background-color:white; margin-top:120px;"&gt;&#13;
    Для добавления рекламы, следует зайти в настройки расширения и отредактировать этот код.&#13;
    Как правильно это сделать, можно прочитать &lt;a href="http://ralode.com/reckama-on-video-free.html" target="_blank"&gt;здесь&lt;/a&gt;.&#13;
&lt;/div&gt;</code></config>
